<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>

<%= form_for(@stud) do |f| %>
    <div class="form-group row justify-content-between">
        <%= f.label :nik, :class => "col-sm-1 "  %>
        <%= f.text_field :nik, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :name, :class => "col-sm-1 " %>
        <%= f.text_field :name, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :username, :class => "col-sm-1 " %>
        <%= f.text_field :username, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :age, :class => "col-sm-1 " %>
        <%= f.text_field :age, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :kelas, :class => "col-sm-1 " %>
        <%= f.text_field :kelas, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :city, :class => "col-sm-1 " %>
        <%= f.text_field :city, :class => " form-control" %>
    </div>

    <div class="form-group row justify-content-between">
        <%= f.label :adress, :class => "col-sm-1 " %>
        <%= f.text_area :adress, :class => " form-control" %>
    </div>
    <div class="row ">
        <div class="col-sm-7 ">
            <%= f.submit "Save", :class=> "btn btn-primary" %>
        </div>
    </div>
<%end%>