<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<table class="table">
<tr>
    <td>NIK</td>
    <td>Nama</td>
    <td>Username</td>
    <td>Umur</td>
    <td>Kelas</td>
    <td>Kota</td>
    <td>Alamat</td>

</tr>
<% @students.each do |s|%>
<tr>
    <td><%= s.nik%></td>
    <td><%= s.name%></td>
    <td><%= s.username%></td>
    <td><%= s.age%></td>
    <td><%= s.kelas%></td>
    <td><%= s.city%></td>
    <td><%= s.adress%></td>

    <td>
    <%= link_to 'Detail', student_path(s)%> | 
    <%= link_to 'Edit', edit_student_path(s)%> | 
    <%= link_to 'Delete', student_path(s), method: :delete, data: {confirm: 'Are you sure'}%> | 
    </td>
</tr>
<%end%>
</table>

<%= link_to 'New Student', new_student_path%>