<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

NIK : <%= @stud.nik%> </br>
Name : <%= @stud.name%> </br>
Age : <%= @stud.age%> </br>
Username : <%= @stud.username%> </br>
Class : <%= @stud.kelas%> </br>
City : <%= @stud.city%> </br>
Address : <%= @stud.adress%> </br>

