<h2>Hi, Welcome to my project website!</h2>
<p>Down below are the main links in this website.</p>
<ul>
    <li><%= link_to 'Students', students_path()%> </li>
    <li><%= link_to 'Teachers', teachers_path()%> </li>
    <li><%= link_to 'Exams', exams_path()%> </li>
    <li><%= link_to 'Reports', reports_path()%> </li>

</ul>
<p>
  The time is now: <%= Time.now %>
</p>
