<h1>Teachers#index</h1>
<p>Find me in app/views/teachers/index.html.erb</p>
<table class="table">
<tr>
    <td>NIK</td>
    <td>Nama</td>
    <td>Umur</td>
    <td>Kelas</td>
    <td>Mapel</td>

</tr>
<% @teachs.each do |t|%>
<tr>
    <td><%= t.nik%></td>
    <td><%= t.name%></td>
    <td><%= t.age%></td>
    <td><%= t.kelas%></td>
    <td><%= t.mapel%></td>

    <td>
    <%= link_to 'Detail', teacher_path(t)%> | 
    <%= link_to 'Edit', edit_teacher_path(t)%> | 
    <%= link_to 'Delete', teacher_path(t), method: :delete, data: {confirm: 'Are you sure'}%> | 
    </td>
</tr>
<%end%>
</table>

<%= link_to 'New Teacher', new_teacher_path%>