<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>

NIK : <%= @teac.nik%> </br>
Nama : <%= @teac.name%> </br>
Umur : <%= @teac.age%> </br>
Kelas : <%= @teac.kelas%> </br>
Mapel : <%= @teac.mapel%> </br>