//  @import 'custom';
 @import '~bootstrap/scss/bootstrap';

 .row{
     margin-left: 0px;
     margin-right: 0px;
 }

 .form-control{
     width: 400px;
 }
 form {
    width: 31%;
    background: #cfcff9;
    padding: 16px;  
    border-radius: 0px 12px 12px 0px;
 }