<h1>Exams#edit</h1>
<p>Find me in app/views/exams/edit.html.erb</p>

<%= form_for(@exam) do |f| %>
    <div class="form-group row justify-content-between">
        <%= f.label :title, :class => "col-sm-2 "   %>
        <%= f.text_field :title, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :nilai, :class => "col-sm-2 "   %>
        <%= f.text_field :nilai, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :mapel, :class => "col-sm-2 "   %>
        <%= f.text_field :mapel, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :student_id, :class => "col-sm-2 "   %>
        <%= f.text_field :student_id, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :duration, :class => "col-sm-2 "   %>
        <%= f.text_field :duration, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :aktif, :class => "col-sm-2 "   %>
        <%= f.text_field :aktif, :class => " form-control"  %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :level, :class => "col-sm-2 "   %>
        <%= f.text_field :level, :class => " form-control"  %>
    </div>
    <div class="row ">
        <div class="col-sm-7 ">
            <%= f.submit "Save", :class=> "btn btn-primary" %>
        </div>
    </div>
<%end%>