<h1>Exams#index</h1>
<p>Find me in app/views/exams/index.html.erb</p>

<table>
<tr>
    <td>Judul</td>
    <td>Mapel</td>
    <td>Durasi</td>
    <td>Nilai</td>
    <td>Aktif</td>
    <td>Level</td>
    <td>ID Siswa</td>

</tr>
<% @exams.each do |s|%>
<tr>
    <td><%= s.title%></td>
    <td><%= s.mapel%></td>
    <td><%= s.duration%></td>
    <td><%= s.nilai%></td>
    <td><%= s.aktif%></td>
    <td><%= s.level%></td>
    <td><%= s.student_id%></td>
    <td>

    <%= link_to 'Detail', exam_path(s)%> | 
    <%= link_to 'Edit', edit_exam_path(s)%> | 
    <%= link_to 'Delete', exam_path(s), method: :delete, data: {confirm: 'Are you sure'}%> | 
    </td>
</tr>
<%end%>
</table>

<%= link_to 'New Exam', new_exam_path%>