<h1>Exams#show</h1>
<p>Find me in app/views/exams/show.html.erb</p>

Judul : <%= @exam.title%> </br>
Hasil : <%= @exam.nilai%> </br>
Mapel : <%= @exam.mapel%> </br>
ID Siswa : <%= @exam.student_id%> </br>
Status : <% if @exam.aktif == false 
'Tidak lulus' 
else 
'Lulus'
end%> </br>
Level : <%= @exam.level%> </br>
Duration : <%= @exam.duration%> </br>
Nilai : <%= @exam.nilai%> </br>
