<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>
<table class="table">
<tr>
    <td>Title</td>
    <td>Hasil</td>
    <td>Mapel</td>
    <td>ID Murid</td>
    <td>ID Guru</td>
    <td>Date</td>
</tr>
<% @repts.each do |s|%>
<tr>
    <td><%= s.title%></td>
    <td><%= s.hasil%></td>
    <td><%= s.mapel%></td>
    <td><%= s.student_id%></td>
    <td><%= s.teacher_id%></td>
    <td><%= s.date%></td>
    <td>
    <%= link_to 'Detail', report_path(s)%> | 
    <%= link_to 'Edit', edit_report_path(s)%> | 
    <%= link_to 'Delete', report_path(s), method: :delete, data: {confirm: 'Are you sure'}%> | 
    </td>
</tr>
<%end%>
</table>

<%= link_to 'New Report', new_report_path%>