<h1>Reports#new</h1>
<p>Find me in app/views/reports/new.html.erb</p>

<%= form_for(@rept) do |f| %>
    <div class="form-group row justify-content-between">
        <%= f.label :title, :class => "col-sm-2 "   %>
        <%= f.text_field :title, :class => " form-control" %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :hasil, :class => "col-sm-2 "   %>
        <%= f.text_field :hasil, :class => " form-control" %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :mapel, :class => "col-sm-2 "   %>
        <%= f.text_field :mapel, :class => " form-control" %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :student_id, :class => "col-sm-2 "   %>
        <%= f.text_field :student_id, :class => " form-control" %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :teacher_id, :class => "col-sm-2 "   %>
        <%= f.text_field :teacher_id, :class => " form-control" %>
    </div>
    <div class="form-group row justify-content-between">
        <%= f.label :date, :class => "col-sm-2 "   %>
        <%= f.text_field :date, :class => " form-control" %>
    </div>

    <div class="row ">
        <div class="col-sm-7 ">
            <%= f.submit "Save", :class=> "btn btn-primary" %>
        </div>
    </div>
<%end%>