<h1>Reports#show</h1>
<p>Find me in app/views/reports/show.html.erb</p>

Judul : <%= @rept.title%> </br>
Hasil : <%= @rept.hasil%> </br>
Mapel : <%= @rept.mapel%> </br>
ID Siswa : <%= @rept.student_id%> </br>
ID Guru: <%= @rept.teacher_id%> </br>
Tanggal : <%= @rept.date%> </br>
